body{
    padding: 0;
    margin: 0;
    margin-top: -21px;
}
h1{
    margin: 0;
    color: white;
    text-align: center;
}
header{
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100px;
}
nav{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    display: inline;
   
}
.menu{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid darkgreen;
    background-color: rgb(102, 211, 102);
    color: white;   
    
}
.btn{
    background-color: black;
    padding: 8.7px;
    border: 1px solid;
    border-color: black;
    color: white;
    display: block;
    position: sticky;
}
.conteudo{
    display: inline;
    cursor: pointer;
    padding: 7px;
}
.conteudo a{
    color: white;
    background-color: gray;
    border-radius: 30px;
    padding: 7px;
    border: solid 2px;
    border-color: black;    
    display: inline;
}
.conteudo a:hover{
    background-color: black;
}
.para1{position: absolute;top: 130px;left: 20px;}.para2{position: absolute;top: 130px;left: 790px;}
.para3{position: absolute;top: 320px;left: 20px;}.para4{position: absolute;top: 320px;left: 790px;}
.para5{position: absolute;top: 520px;left: 20px;}